<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="ingreso" (ngSubmit)="signin()" >
    <ion-list>

      <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" name="email" formControlName="email"></ion-input>
    </ion-item>
   

      <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" name="password" formControlName="password"></ion-input>
      </ion-item>


     <button [disabled]="ingreso.invalid" ion-button block >Sign In</button>
    <!-- <button ion-button block (click)="signin()">Sign In</button> -->
    </ion-list>
  </form>

</ion-content>