<!--
  Generated template for the GeneralStartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Campañas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-item *ngFor="let campana of campanas">
	<ion-card (click)="goCampana_detalle(campana.id)">
		<ion-item>
			<ion-avatar item-start>
				<img src="https://comps.canstockphoto.es/gr%C3%A1fico-persona-vector-avatar-icon-eps-vectorial_csp39102989.jpg">
			</ion-avatar>
			<h2>{{campana.patient}}</h2>
			<p>Hospital Ramon Maradiaga</p>
		</ion-item>
		  <ion-row>
		    <ion-col col-8>
				<p>{{campana.comment}}</p>
		    </ion-col>
		    <ion-col col-4  center text-center>
				<h2>B</h2>
		    </ion-col>
		  </ion-row>
		  <ion-row>
		  	<ion-col  center text-center>
		  		Se necesita 3 Dadores de sangre.
		  	</ion-col>
		  </ion-row>	

	</ion-card>
</ion-item>

</ion-content>
