<!--
  Generated template for the PerfilEditarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 

  <ion-navbar>
    <ion-title>Mi Perfil - edicion</ion-title>
		<ion-buttons start>
			<button ion-button (click)="cerrarModal()">
			<ion-icon name="md-close"></ion-icon>
			</button>
		</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<!-- <h2>Formulario Campaña Nueva</h2> -->
	<form [formGroup]="perfil" (ngSubmit)="enviar()" > 
		
			<ion-list>
				<ion-item>
					<ion-label floating> Nombres</ion-label>
					<ion-input type="text" name="firs_name" formControlName="firs_name"></ion-input>		
				</ion-item>

				<ion-item>
					<ion-label floating> Apellido</ion-label>
					<ion-input type="text" name="last_name" formControlName="last_name"></ion-input>		
				</ion-item>
				<ion-item>
					<ion-label floating> Ciudad</ion-label>
					<ion-input type="text" name="location" formControlName="location"></ion-input>		
				</ion-item>

			<ion-item>
			<ion-label>Tipo de sangre</ion-label>
				<ion-select name="bloode_type" formControlName="bloode_type" >
					<ion-option value="A+">A+</ion-option>
					<ion-option value="A-">A-</ion-option>
					<ion-option value="B+-">B+-</ion-option>
					<ion-option value="B-">B-</ion-option>
					<ion-option value="O+">O+</ion-option>
					<ion-option value="O-">O-</ion-option>
					<ion-option value="AB+">AB+</ion-option>
					<ion-option value="AB-">AB-</ion-option>
				
				</ion-select>
			</ion-item>

				<ion-item>
					<ion-label floating> Algo sobre mi</ion-label>
					<ion-input type="text" name="bio" formControlName="bio"></ion-input>		
				</ion-item>


		



			<ion-item>
				<button  ion-button full block  color="primary">guardar</button>
			</ion-item>
		</ion-list>		
	</form>
</ion-content>