<!--
  Generated template for the HospitalDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar>
 <ion-title><h2>{{hospital?.name}}</h2></ion-title>
   <ion-buttons start>
      <button ion-button (click)="cerrarModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

  </ion-card>

  <ion-item>
    <ion-icon name="md-map" item-start large></ion-icon>
    <h2>{{hospital?.name}}</h2>
    <p>{{hospital?.address}}</p>
  </ion-item>



     <ion-item>
    <ion-icon name="md-time" item-left large ></ion-icon>
    <p>{{hospital?.horary}}</p>
  </ion-item>

   <ion-item>
    <ion-icon name="ios-information-circle-outline" item-left large ></ion-icon>
    <h2>Para mas informacion</h2>
    <p>{{hospital?.phone}}</p>
    <p>{{hospital?.web}}</p>
  </ion-item>

<ion-item>

</ion-item>  

          <ion-col text-center>
           <button ion-button icon-left clear small (click)="comoLlegar()">
             <ion-icon name="navigate"></ion-icon>
             <div>Como llegar</div>
           </button> 
        </ion-col>
  
<div id="map"></div>

  
</ion-content>
