<!--
  Generated template for the ListHospitalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hospitales</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>listado de los hospitales</p>
<ion-list>
     
		<ion-item *ngFor="let hospital of hospitals">
			<button ion-item (click)="nuevoSitio(hospital.id)" >
				<ion-avatar item-start>
				<img src="https://s3-media2.fl.yelpcdn.com/bphoto/6r8fhFECI34zGlbCP82JlA/348s.jpg">
				</ion-avatar>
				<h2>{{ hospital.name | uppercase }}</h2>
				<h3>Don't Know What To Do!</h3>
				<p>{{ hospital.address }}</p>
				<ion-icon name="arrow-forward" item-right></ion-icon>
			</button>
		</ion-item>
</ion-list>



</ion-content>

