<!--
  Generated template for the MapsHospitalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mapa Hospitales</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>Mapa de los hospitales</p>
  <div id="map_canvas"></div>
</ion-content>
