<!-- <ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
         <ion-title>Inicio</ion-title>
    </button>
	
  </ion-navbar>
</ion-header> -->

<ion-tabs>
    <ion-tab [root]="generalStartRoot" tabTitle="Campañas" tabIcon="md-list"></ion-tab>
    <ion-tab [root]="personalStartRoot" tabTitle="Campañas con mi sangre" tabIcon="md-list-box"></ion-tab>
</ion-tabs>
