<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
         <ion-title>Centros de Salud</ion-title>
    </button>
	
  </ion-navbar>
</ion-header>


<ion-tabs>
    <ion-tab [root]="listHospitalesRoot" tabTitle="List hospitales" tabIcon="ios-list-outline"></ion-tab>
    <ion-tab [root]="mapsHospitalesRoot" tabTitle="Maps hospitales" tabIcon="md-map"></ion-tab>
</ion-tabs>
  