<!--
  Generated template for the PerfilUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
         <ion-title>Mi Perfil</ion-title>
    </button>
	
  </ion-navbar>
</ion-header>

<ion-content padding>


 
	<ion-item>
		<!-- <ion-icon name="md-body" item-start large></ion-icon> -->
		<h4>Nombre y Apellido:</h4>
		<h2>{{perfil?.firs_name}} , {{perfil?.last_name}}</h2>
		
	</ion-item>

	<ion-item>
		<h4>Ciudad:</h4>
		<h2>{{perfil?.location}}</h2>
	</ion-item>

	<ion-item>
		<h4>Grupo sanguineo:</h4>
		<h2>{{perfil?.bloode_type}}</h2>
	</ion-item>

	<ion-item>
		<h4>Algo sobre mi:</h4>
		<h2>{{perfil?.bio}}</h2>
	</ion-item>


	<ion-item>
		<button ion-button icon-right  (click)="vistaEditar()">
			Editar
			<ion-icon name="ios-create-outline"></ion-icon>
		</button> 

	</ion-item>
 



  
</ion-content>