<!--
  Generated template for the CampanaDetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button ion-button (click)="cerrarModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>


  </ion-navbar>
</ion-header>

 

<ion-content padding>
<!-- 	<button ion-button icon-only (click)="goBack()" >
		<ion-icon name="ios-arrow-round-back-outline"></ion-icon>
	</button> -->

 <ion-row>
   <h2>{{campaign?.patient}}</h2>
 </ion-row>
  <ion-row>
 <p> <ion-icon name="ios-water"></ion-icon>  Donantes requeridos {{campaign?.number_of_donors}} del tipo {{campaign?.bloode_type}}</p>
 </ion-row>
   <ion-row>
 <p><ion-icon name="md-pin"></ion-icon> {{campaign?.hospital?.name}}</p>
 </ion-row>

    <ion-row>
 <p><ion-icon name="ios-chatbubbles-outline"></ion-icon> {{campaign?.comment}}</p>
 </ion-row>
<button ion-button outline [disabled]="!isenabled" (click)="quiero_donar()">Donar!</button>


<p></p>

</ion-content>
