<!--
  Generated template for the PersonalStartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>personalStart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>Aqui van las Campañas con mi sangre</p>
</ion-content>
