<!--
  Generated template for the NuevaCampanaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crear Campaña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h2>Formulario Campaña Nueva</h2>
	<form [formGroup]="cadastro" (ngSubmit)="enviar()" > 
		<ion-list>
			<ion-item>
				<ion-label floating> Paciente</ion-label>
				<ion-input type="text" name="patient" formControlName="patient"></ion-input>		
			</ion-item>
			
			<div radio-group formControlName="sex" name="sex">

			<ion-row>
	          <ion-col col-6>
	            <ion-item>
	         
	              <ion-label>Masculino</ion-label>
	              <ion-radio value="M"></ion-radio>
	            </ion-item>
	          </ion-col>
	          <ion-col col-6>
	            <ion-item>

	              <ion-label>Femenino</ion-label>
	              <ion-radio value="F"></ion-radio>
	            </ion-item>
	          </ion-col>
	    </ion-row>
	        </div>
 			<hr>

 		<ion-item>
			<ion-label>Que se necesita donar</ion-label>
				<ion-select name="type_of_donation" formControlName="type_of_donation" >
					<ion-option value="s">Sangre</ion-option>
					<ion-option value="p">Plaquetas</ion-option>
					<ion-option value="gr">Globulos rojos</ion-option>
				
		</ion-select>
			</ion-item>


			<ion-item>
			<ion-label>Tipo de sangre</ion-label>
				<ion-select name="bloode_type" formControlName="bloode_type" >
					<ion-option value="A+">A+</ion-option>
					<ion-option value="A-">A-</ion-option>
					<ion-option value="B+-">B+-</ion-option>
					<ion-option value="B-">B-</ion-option>
					<ion-option value="O+">O+</ion-option>
					<ion-option value="O-">O-</ion-option>
					<ion-option value="AB+">AB+</ion-option>
					<ion-option value="AB-">AB-</ion-option>
				
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label>Centro de Salud donde donar</ion-label>
					<ion-select name="hospital_id" formControlName="hospital_id" >
						 <ion-option *ngFor=" let hosp of hospitals" [value]="hosp.id"	 >{{hosp.name}}</ion-option>
  
		
					
					</ion-select>
			</ion-item>

		
			  <ion-item>
			      <ion-label>Fecha de nacimiento</ion-label>
			      <ion-datetime formControlName="birthday" name="birthday"  displayFormat="DD MMM  YYYY" ></ion-datetime>
			    </ion-item>

			  <ion-item>
				<ion-label	 floating> Cantidad de donantes</ion-label>
				<ion-textarea type="text" name="number_of_donors" formControlName="number_of_donors"></ion-textarea>		
			</ion-item>

			<ion-item>
			<ion-label>Ciudad</ion-label>
				<ion-select name="city" formControlName="city">
					<ion-option value="Encarnacion">Encarnacion</ion-option>
					<ion-option value="Bella Vista">Bella Vista</ion-option>
					<ion-option value="Ayolas">Ayolas</ion-option>			
				</ion-select>
			</ion-item>


			<ion-item>
				<ion-label	 floating> Razon por la cual necesita donantes</ion-label>
				<ion-textarea type="text" name="comment" formControlName="comment"></ion-textarea>		
			</ion-item>
			<ion-item>
				<button [disabled]="cadastro.invalid" ion-button full block  color="primary">Crear Campaña</button>
			</ion-item>
		</ion-list>		
	</form>
</ion-content>

