<!--
  Generated template for the MisCampanasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>misCampanas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>Awui veremos las campanas creadas por el usuario</p>
</ion-content>
