<ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="register" (ngSubmit)="signup()" > 
  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" name="name" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" name="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" name="password" formControlName="password"></ion-input>
    </ion-item>

<!--     <ion-item>
      <ion-label floating>Re-Password</ion-label>
      <ion-input type="password" name="patient" formControlName="patient"></ion-input>
    </ion-item> -->

    <button [disabled]="register.invalid" ion-button block >Sign In</button>
    <!-- <button ion-button block (click)="signup()">Sign In</button> -->

  </ion-list>
</form>


</ion-content>